# Ignore the dataset folder
cdp_data_retriever/

# Ignore the notebooks folder
notebooks/

# Ignore test files
test/*

# Ignore log files
*.log

# Ignore sql files
*.sql

# Ignore temporary files
temp/

# Ignore .git
.git/

# Ignore build script
build_deploy.py

# Ignore virtual environment directories
graphcast_prediction/graphcast_env/

# Ignore editor backup files
*~
*.swp

# Ignore VS Code project files
.vscode/

# Ignore hidden files (except .dockerignore and .gcloudignore)
.*
!.dockerignore
!.gcloudignore 